/* css */
html {
    scroll-behavior: smooth;
}

*{
    font-family: 'Rubik';
    color: #1A0806;
}


#MobileBurgerMenu {
    display: none;
}


#SplashImage{
    width: 370px;
    height: 370px;
    /* background-color: #121212; */
}

#MAIN {
    padding:0px 40px;
}

@media only screen and (max-width: 768px) {

    #MAIN {
        padding:0px 32px;
    }

    .HideOnMobile{
        display: none;
    }
    /* For mobile phones: */
    #SplashImage{
        width: 170px;
        height: 170px;
        display: none;
        /* background-color: #121212; */
    }

    .FooterChild {
        flex-basis: 100%;
        /* background-color: #EC4B36; */
        align-items:center;
        text-align: center;
        }

    #MobileBurgerMenu{
        display: block;
    }

    #DesktopNavBar{
        display: none;
    }
  }


.GradientButton {
    cursor: pointer;
    /* Auto layout */
    z-index: 1;
    position: relative;

color:white;
text-decoration-color: white;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px;
gap: 16px;

width: 173px;
min-height: 57px;
max-height: 57px;
height: 57px;

/* Gradient */

background: linear-gradient(90deg, #25232D 0%, #EC4B36 100%);
box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.16), 0px 21.7776px 33.4221px rgba(0, 0, 0, 0.115017), 0px 12.3363px 17.869px rgba(0, 0, 0, 0.0953772), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.08), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0646228), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0449833);
border-radius: 100px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.GradientButton::before {
border-radius: 100px;

    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(264.88deg, #059E53 0.75%, #EC4B36 104.17%);

    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }

  .GradientButton:hover::before {
    opacity: 1;
  }



/* Heading 1 */

.Heading1{


    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 88.38px;
    line-height: 105px;
    /* identical to box height */
    
    
    color: #000000;
}



/* Heading 2 */

.Heading2{


    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 66.3px;
    line-height: 79px;
    /* identical to box height */
    
    
    color: #000000;
}



/* Heading 3 */
.Heading3 {


    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 49.74px;
    line-height: 59px;
    /* identical to box height */
    
    
    color: #000000;
    

}    


/* Heading 4 */

.Heading4{

 
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 37.31px;
    line-height: 44px;
    
    color: #000000;
}



/* Heading 5 */
.Heading5{


    


    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 27.99px;
    line-height: 33px;
    
    color: #000000;
}



/* Heading 6 */
.Heading6{


    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000000;
}




/* Paragraph */

.Paragraph{


    
    /* Paragraph */
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #000000;
}


.OutlinedButton {
    /* Frame 22 */
    transition: 300ms;
    cursor: pointer;


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 9.39349px 18.787px;
gap: 12.52px;

width: 123.57px;
height: 37.79px;

/* Black */

border: 0.78279px solid #1A0806;
border-radius: 78.279px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;

}

.OutlinedButton:hover{
    background: #1A0806;
    color:white
}

.OutlinedButton:active{
    background: rgba(26, 8, 6, 0.75);
    color: white;
}


.GradientText {
    background: linear-gradient(90deg, #25232D 0%, #EC4B36 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

width:fit-content;
}




.ServiceCarouselItem {
    /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px 64px;
gap: 64px;

width: 343.33px;
height: 325px;

/* Secondary */

background: #25232D;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

}


.ServiceMainText {
padding: 16px 32px;
background: #25232D;
width: 600px;
border-radius: 10px;

}


.BenefitsPills{
align-items: center;
padding: 24.4134px 48.8268px;
gap: 48px;
row-gap:24px;
justify-content:center;




/* Primary */

background: #EB4B35;
border-radius: 20.056px;

/* Inside auto layout */


}





.ServiceBar {
    /* Frame 98 */


/* Auto layout */
color: white;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

width: 445px;
height: 78px;

/* Primary */

background: #EB4B35;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}